https://docs.google.com/document/d/1dQBTcFjiuRYw9HikHv1OIaTYk-MAMScFtoto9U8B1Gc/edit

Second Semester Project (30 marks)
ShopSmart Inc. is an e-commerce platform that sells a variety of products online. The company aims to optimize its website and enhance customer satisfaction by understanding customer behavior and preferences. To achieve this goal, ShopSmart Inc. plans to analyze the data collected from its website to gain insights into customer interactions, purchasing patterns, and product preferences.
Project Objective: The objective of this project is to utilize data from ShopSmart Inc.'s website to understand customer behavior and preferences. By analyzing the data, the company aims to:
1.     Segment customers based on their preferences, geographic location, and purchasing behavior.
2.     Enhance website usability and user experience based on insights gained from customer interactions.
3.     Optimize product offerings and marketing strategies to improve customer satisfaction and retention.
Data Sources:
The data for this project will be sourced from ShopSmart Inc.'s website and will include various attributes such as customer IDs, device IDs, transaction details, product information, and timestamps of customer interactions.
 
Methodology:
The project will involve data wrangling to preprocess the dataset, followed by exploratory data analysis (EDA) to uncover patterns and trends in customer behavior. Visualization techniques will be used to present the findings effectively.
Expected Outcome:
By understanding customer behavior and preferences, ShopSmart Inc. aims to optimize its website, product offerings, and marketing strategies to increase customer satisfaction, retention, and ultimately, revenue.
 
You are provided with 5 datasets from different tables, your first task is to merge the datasets, clean and wrangle the dataset, engineer new features from event data. Then identify the following:

a.     Visit Frequency:
How often does this customer visit the website, based on the provided data?
Can you identify any patterns or trends in the customer's visit frequency?

b. 	Location Analysis:
What is the customer's location based on the provided data?
How might the customer's location influence their purchasing behavior?

c.  	Overall Purchase Behavior:
Based on the data provided, what insights can you draw about this customer's overall behavior on the website?
How might these insights inform marketing strategies or personalized recommendations for this customer?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\customers.csv')
events_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\events.csv')
orders_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\orders.csv')
line_items_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\line_items.csv')
products_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\products.csv')

In [3]:
print("Columns in data1:", customers_df.columns)
print("Columns in data2:", events_df.columns)
print("Columns in data3:", orders_df.columns)
print("Columns in data4:", line_items_df.columns)
print("Columns in data5:", products_df.columns)

Columns in data1: Index(['customer_id', 'device_id', 'location', 'currency'], dtype='object')
Columns in data2: Index(['event_id', 'customer_id', 'event_data', 'event_timestamp'], dtype='object')
Columns in data3: Index(['order_id', 'customer_id', 'status', 'checked_out_at'], dtype='object')
Columns in data4: Index(['line_item_id', 'order_id', 'item_id', 'quantity'], dtype='object')
Columns in data5: Index(['id', 'name', 'price'], dtype='object')

In [5]:
line_items_df.head()

   line_item_id                              order_id  item_id  quantity
0          3201  9e950ce3-2e12-479c-a051-493c1a497d49        4         2
1          3202  9e950ce3-2e12-479c-a051-493c1a497d49        5         4
2          3203  9e950ce3-2e12-479c-a051-493c1a497d49        9         5
3          3204  9e950ce3-2e12-479c-a051-493c1a497d49       12         1
4          3205  9e950ce3-2e12-479c-a051-493c1a497d49        6         2

In [6]:
products_df.head()

   id                     name    price
0   1                iPhone 13  1099.99
1   2       Samsung Galaxy S21   899.99
2   3       Sony PlayStation 5   499.99
3   4  Microsoft Xbox Series X   499.99
4   5         Nike Air Max 270   129.99

In [7]:
products_df.rename(columns={'id': 'item_id'}, inplace=True)

In [8]:
products_df.head()

   item_id                     name    price
0        1                iPhone 13  1099.99
1        2       Samsung Galaxy S21   899.99
2        3       Sony PlayStation 5   499.99
3        4  Microsoft Xbox Series X   499.99
4        5         Nike Air Max 270   129.99

In [9]:
# Merge customer_df and events_df on 'customer_id'
merged_data1 = pd.merge(customers_df, events_df, on='customer_id')

# Merge merged_data1 and orders_df on 'customer_id'
merged_data2 = pd.merge(merged_data1, orders_df, on='customer_id')

# Merge merged_data2 and line_items_df on 'order_id'
merged_data3 = pd.merge(merged_data2, line_items_df, on='order_id')

# Merge merged_data3 and products_df on 'item_id'
merged_data4 = pd.merge(merged_data3, products_df, on='item_id')

In [10]:
merged_data4.shape

(578320, 15)

In [13]:
merged_data4.head()

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14787,"{""timestamp"": ""2024-03-27T07:14:33.987347"", ""e...",2024-03-27 07:14:33.987347,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14788,"{""timestamp"": ""2024-03-30T04:03:10.406559"", ""e...",2024-03-30 04:03:10.406559,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14789,"{""timestamp"": ""2024-03-30T04:03:10.406561"", ""e...",2024-03-30 04:03:10.406561,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14790,"{""item_id"": 4, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:10.406769,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99

In [14]:
merged_data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578320 entries, 0 to 578319
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   location         578320 non-null  object
 3   currency         578320 non-null  object
 4   event_id         578320 non-null  int64
 5   event_data       578320 non-null  object
 6   event_timestamp  578320 non-null  object
 7   order_id         578320 non-null  object
 8   status           578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  line_item_id     578320 non-null  int64
 11  item_id          578320 non-null  int64
 12  quantity         578320 non-null  int64
 13  name             578320 non-null  object
 14  price            578320 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 70.6+ MB

In [18]:
file_path = r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\shopsmart_df.csv'

In [19]:
merged_data4.to_csv(file_path, index=False)

In [22]:
shopsmart_df = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\shopsmart_df.csv')

In [23]:
shopsmart_df.head()

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14787,"{""timestamp"": ""2024-03-27T07:14:33.987347"", ""e...",2024-03-27 07:14:33.987347,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14788,"{""timestamp"": ""2024-03-30T04:03:10.406559"", ""e...",2024-03-30 04:03:10.406559,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14789,"{""timestamp"": ""2024-03-30T04:03:10.406561"", ""e...",2024-03-30 04:03:10.406561,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14790,"{""item_id"": 4, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:10.406769,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99

In [24]:
shopsmart_df.duplicated().sum()

0

In [33]:
shopsmart_df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [34]:
shopsmart_df.shape

(578320, 15)

In [39]:
merged_data41.shape

(578320, 15)

In [40]:
merged_data41.isna().sum()

customer_id        0
device_id          0
location           0
currency           0
event_id           0
event_data         0
event_timestamp    0
order_id           0
status             0
checked_out_at     0
line_item_id       0
item_id            0
quantity           0
name               0
price              0
dtype: int64

In [41]:
merged_data4.head()

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14787,"{""timestamp"": ""2024-03-27T07:14:33.987347"", ""e...",2024-03-27 07:14:33.987347,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14788,"{""timestamp"": ""2024-03-30T04:03:10.406559"", ""e...",2024-03-30 04:03:10.406559,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14789,"{""timestamp"": ""2024-03-30T04:03:10.406561"", ""e...",2024-03-30 04:03:10.406561,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14790,"{""item_id"": 4, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:10.406769,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99

In [42]:
shopsmart_df.head()

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14787,"{""timestamp"": ""2024-03-27T07:14:33.987347"", ""e...",2024-03-27 07:14:33.987347,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14788,"{""timestamp"": ""2024-03-30T04:03:10.406559"", ""e...",2024-03-30 04:03:10.406559,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14789,"{""timestamp"": ""2024-03-30T04:03:10.406561"", ""e...",2024-03-30 04:03:10.406561,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14790,"{""item_id"": 4, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:10.406769,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99

In [1]:
import pandas as pd
cust = pd.read_csv('customers.csv')
eve = pd.read_csv('events.csv')
lin = pd.read_csv('line_items.csv')
orde = pd.read_csv('orders.csv')
pro = pd.read_csv('products.csv')

In [2]:
# Merge customer_df and events_df on 'customer_id'
merged_dat1 = pd.merge(cust, eve, on='customer_id', how='outer')

# Merge merged_data1 and orders_df on 'customer_id'
merged_dat2 = pd.merge(merged_dat1, orde, on='customer_id', how='outer')

# Merge merged_data2 and line_items_df on 'order_id'
merged_dat3 = pd.merge(merged_dat2, lin, on='order_id', how='outer')


pro = pro.rename(columns={'id':'item_id'})
# Merge merged_data3 and products_df on 'item_id'
merged_dat4 = pd.merge(merged_dat3, pro, on='item_id', how='outer')

In [3]:
merged_dat4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652958 entries, 0 to 652957
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      652958 non-null  object
 1   device_id        652958 non-null  object
 2   location         652958 non-null  object
 3   currency         652958 non-null  object
 4   event_id         652958 non-null  int64
 5   event_data       652958 non-null  object
 6   event_timestamp  652958 non-null  object
 7   order_id         645885 non-null  object
 8   status           645885 non-null  object
 9   checked_out_at   645885 non-null  object
 10  line_item_id     578320 non-null  float64
 11  item_id          578320 non-null  float64
 12  quantity         578320 non-null  float64
 13  name             578320 non-null  object
 14  price            578320 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 79.7+ MB

In [4]:
merged_dat4.isna().sum()

customer_id            0
device_id              0
location               0
currency               0
event_id               0
event_data             0
event_timestamp        0
order_id            7073
status              7073
checked_out_at      7073
line_item_id       74638
item_id            74638
quantity           74638
name               74638
price              74638
dtype: int64

In [5]:
merged_dat4.shape

(652958, 15)

In [6]:
custi = pd.read_csv('customers.csv')
evei = pd.read_csv('events.csv')
lini = pd.read_csv('line_items.csv')
ordei = pd.read_csv('orders.csv')
proi = pd.read_csv('products.csv')

In [9]:
# Merge customer_df and events_df on 'customer_id'
merged_dat1i = pd.merge(custi, evei, on='customer_id', how='inner')

# Merge merged_data1 and orders_df on 'customer_id'
merged_dat2i = pd.merge(merged_dat1i, ordei, on='customer_id', how='inner')

# Merge merged_data2 and line_items_df on 'order_id'
merged_dat3i = pd.merge(merged_dat2i, lini, on='order_id', how='inner')


proi = proi.rename(columns={'id':'item_id'})
# Merge merged_data3 and products_df on 'item_id'
merged_dat4i = pd.merge(merged_dat3i, proi, on='item_id', how='inner')

In [10]:
merged_dat4i.shape

(578320, 15)

In [11]:
merged_dat4i.isna().sum()

customer_id        0
device_id          0
location           0
currency           0
event_id           0
event_data         0
event_timestamp    0
order_id           0
status             0
checked_out_at     0
line_item_id       0
item_id            0
quantity           0
name               0
price              0
dtype: int64

In [12]:
merged_dat4i.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578320 entries, 0 to 578319
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   location         578320 non-null  object
 3   currency         578320 non-null  object
 4   event_id         578320 non-null  int64
 5   event_data       578320 non-null  object
 6   event_timestamp  578320 non-null  object
 7   order_id         578320 non-null  object
 8   status           578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  line_item_id     578320 non-null  int64
 11  item_id          578320 non-null  int64
 12  quantity         578320 non-null  int64
 13  name             578320 non-null  object
 14  price            578320 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 70.6+ MB

In [13]:
merged_dat4i

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity,name,price
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14787,"{""timestamp"": ""2024-03-27T07:14:33.987347"", ""e...",2024-03-27 07:14:33.987347,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14788,"{""timestamp"": ""2024-03-30T04:03:10.406559"", ""e...",2024-03-30 04:03:10.406559,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14789,"{""timestamp"": ""2024-03-30T04:03:10.406561"", ""e...",2024-03-30 04:03:10.406561,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14790,"{""item_id"": 4, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:10.406769,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2,Microsoft Xbox Series X,499.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578315,3aa213f4-2699-43b4-96b8-bf0de1cda133,35a035eb-5b04-45ff-8be7-66b8bbcc20a4,Liechtenstein,GBP,161946,"{""item_id"": 6, ""quantity"": 3, ""timestamp"": ""20...",2024-03-30 04:03:18.223419,4c2defc5-b1fe-4f2f-90b1-6ccce7bf481d,cancelled,2024-03-30 04:19:18.223427,34939,3,2,Sony PlayStation 5,499.99
578316,3aa213f4-2699-43b4-96b8-bf0de1cda133,35a035eb-5b04-45ff-8be7-66b8bbcc20a4,Liechtenstein,GBP,161947,"{""item_id"": 4, ""quantity"": 3, ""timestamp"": ""20...",2024-03-30 04:03:18.223421,4c2defc5-b1fe-4f2f-90b1-6ccce7bf481d,cancelled,2024-03-30 04:19:18.223427,34939,3,2,Sony PlayStation 5,499.99
578317,3aa213f4-2699-43b4-96b8-bf0de1cda133,35a035eb-5b04-45ff-8be7-66b8bbcc20a4,Liechtenstein,GBP,161948,"{""item_id"": 13, ""quantity"": 2, ""timestamp"": ""2...",2024-03-30 04:03:18.223423,4c2defc5-b1fe-4f2f-90b1-6ccce7bf481d,cancelled,2024-03-30 04:19:18.223427,34939,3,2,Sony PlayStation 5,499.99
578318,3aa213f4-2699-43b4-96b8-bf0de1cda133,35a035eb-5b04-45ff-8be7-66b8bbcc20a4,Liechtenstein,GBP,161949,"{""item_id"": 3, ""quantity"": 2, ""timestamp"": ""20...",2024-03-30 04:03:18.223424,4c2defc5-b1fe-4f2f-90b1-6ccce7bf481d,cancelled,2024-03-30 04:19:18.223427,34939,3,2,Sony PlayStation 5,499.99
578319,3aa213f4-2699-43b4-96b8-bf0de1cda133,35a035eb-5b04-45ff-8be7-66b8bbcc20a4,Liechtenstein,GBP,161950,"{""status"": ""cancelled"", ""order_id"": ""4c2defc5-...",2024-03-30 04:19:18.223427,4c2defc5-b1fe-4f2f-90b1-6ccce7bf481d,cancelled,2024-03-30 04:19:18.223427,34939,3,2,Sony PlayStation 5,499.99