https://docs.google.com/document/d/1dQBTcFjiuRYw9HikHv1OIaTYk-MAMScFtoto9U8B1Gc/edit

Second Semester Project (30 marks)
ShopSmart Inc. is an e-commerce platform that sells a variety of products online. The company aims to optimize its website and enhance customer satisfaction by understanding customer behavior and preferences. To achieve this goal, ShopSmart Inc. plans to analyze the data collected from its website to gain insights into customer interactions, purchasing patterns, and product preferences.
Project Objective: The objective of this project is to utilize data from ShopSmart Inc.'s website to understand customer behavior and preferences. By analyzing the data, the company aims to:
1.     Segment customers based on their preferences, geographic location, and purchasing behavior.
2.     Enhance website usability and user experience based on insights gained from customer interactions.
3.     Optimize product offerings and marketing strategies to improve customer satisfaction and retention.
Data Sources:
The data for this project will be sourced from ShopSmart Inc.'s website and will include various attributes such as customer IDs, device IDs, transaction details, product information, and timestamps of customer interactions.
 
Methodology:
The project will involve data wrangling to preprocess the dataset, followed by exploratory data analysis (EDA) to uncover patterns and trends in customer behavior. Visualization techniques will be used to present the findings effectively.
Expected Outcome:
By understanding customer behavior and preferences, ShopSmart Inc. aims to optimize its website, product offerings, and marketing strategies to increase customer satisfaction, retention, and ultimately, revenue.
 
You are provided with 5 datasets from different tables, your first task is to merge the datasets, clean and wrangle the dataset, engineer new features from event data. Then identify the following:

a.     Visit Frequency:
How often does this customer visit the website, based on the provided data?
Can you identify any patterns or trends in the customer's visit frequency?

b. 	Location Analysis:
What is the customer's location based on the provided data?
How might the customer's location influence their purchasing behavior?

c.  	Overall Purchase Behavior:
Based on the data provided, what insights can you draw about this customer's overall behavior on the website?
How might these insights inform marketing strategies or personalized recommendations for this customer?

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data1 = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\customers.csv')
data2 = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\events.csv')
data3 = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\orders.csv')
data4 = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\line_items.csv')
data5 = pd.read_csv(r'C:\Users\KLAUS\Desktop\JUPYTER\altschool-sod-second-semester-project\datasets\products.csv')

In [4]:
print("Columns in data1:", data1.columns)
print("Columns in data2:", data2.columns)
print("Columns in data3:", data3.columns)
print("Columns in data4:", data4.columns)
print("Columns in data5:", data5.columns)

Columns in data1: Index(['customer_id', 'device_id', 'location', 'currency'], dtype='object')
Columns in data2: Index(['event_id', 'customer_id', 'event_data', 'event_timestamp'], dtype='object')
Columns in data3: Index(['order_id', 'customer_id', 'status', 'checked_out_at'], dtype='object')
Columns in data4: Index(['line_item_id', 'order_id', 'item_id', 'quantity'], dtype='object')
Columns in data5: Index(['id', 'name', 'price'], dtype='object')

In [5]:
# Merge data1 and data2 on 'customer_id'
merged_data1 = pd.merge(data1, data2, on='customer_id')
# Merge merged_data1 and data3 on 'order_id'
merged_data2 = pd.merge(merged_data1, data3, on='customer_id')

merged_data3 = pd.merge(merged_data2, data4, on='order_id')

In [14]:
merged_data3.head()

,customer_id,device_id,location,currency,event_id,event_data,event_timestamp,order_id,status,checked_out_at,line_item_id,item_id,quantity
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3201,4,2
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3202,5,4
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3203,9,5
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3204,12,1
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,Saint Helena,NGN,14786,"{""timestamp"": ""2024-03-26T22:05:58.863661"", ""e...",2024-03-26 22:05:58.863661,9e950ce3-2e12-479c-a051-493c1a497d49,success,2024-03-30 04:19:10.406794,3205,6,2

In [9]:
merged_data3.columns

Index(['customer_id', 'device_id', 'location', 'currency', 'event_id',
       'event_data', 'event_timestamp', 'order_id', 'status', 'checked_out_at',
       'line_item_id', 'item_id', 'quantity'],
      dtype='object')

In [15]:
data5

    id                         name    price
0    1                    iPhone 13  1099.99
1    2           Samsung Galaxy S21   899.99
2    3           Sony PlayStation 5   499.99
3    4      Microsoft Xbox Series X   499.99
4    5             Nike Air Max 270   129.99
5    6            Adidas Ultraboost   180.00
6    7            Apple AirPods Pro   249.99
7    8   Sony WH-1000XM4 Headphones   349.99
8    9              Nintendo Switch   299.99
9   10           Dell XPS 13 Laptop  1299.99
10  11          Canon EOS R5 Camera  3999.99
11  12            Coca-Cola 12-Pack     5.99
12  13       Starbucks Coffee Beans    12.99
13  14  Samsung 55-Inch 4K Smart TV   799.99
14  15              Fitbit Charge 4   149.95

In [13]:
merged_data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578320 entries, 0 to 578319
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   location         578320 non-null  object
 3   currency         578320 non-null  object
 4   event_id         578320 non-null  int64
 5   event_data       578320 non-null  object
 6   event_timestamp  578320 non-null  object
 7   order_id         578320 non-null  object
 8   status           578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  line_item_id     578320 non-null  int64
 11  item_id          578320 non-null  int64
 12  quantity         578320 non-null  int64
dtypes: int64(4), object(9)
memory usage: 61.8+ MB